@{
    ViewBag.Title = "List";
    Layout = "~/Views/_Layouts/AdminLayout.cshtml";
}

<table class="tbl_list menu_list">
    <tr>
        <th>코드</th>
        <th>상위코드</th>
        <th>메뉴그룹</th>
        <th>메뉴이름</th>
        <th>URL</th>
        <th>사용여부</th>
        <th>권한</th>
        <th>순서</th>
        <th>메뉴설명</th>
        <th>수정날짜</th>
        <th>만든날짜</th>
    </tr>

    @foreach (var item in @Model["menus"])
    {
        <tr data-code="@item.Code" data-key="menu" class="data_tr">
            <td>@item.Code</td>
            <td>@item.ParentCode</td>
            <td>@item.TypeCode</td>
            <td>@item.Name</td>
            <td>@item.Url</td>
            <td>@item.IsUse</td>
            <td>@item.AuthLevel</td>
            <td>@item.Ordering</td>
            <td>@item.Comment</td>
            <td>@item.Modified</td>
            <td>@item.Registered</td>
        </tr>
    }
</table>

<table class="tbl_form tbl_menu_info">
    <tr>
        <th class="th_label">메뉴코드</th>
        <td class="td_body"><input type="text" name="menuCode" id="menu-code" class="txt_box form_data" /></td>
        <th class="th_label">메뉴이름</th>
        <td class="td_body"><input type="text" name="menuName" id="menu-name" class="txt_box form_data" /></td>
        <th class="th_label">메뉴그룹</th>
        <td class="td_body">
            <select name="typeCode" id="menu-group" class="txt_box form_data">
                @foreach (var item in @Model["groups"])
                {
                    <option value="@item.Code">@item.Name</option>
                }
            </select>
        </td>
        <th class="th_label">상위메뉴</th>
        <td class="td_body">
            <select name="menuParent" id="menu-parent" class="sel_box form_data">
                <option value="0">최상위</option>
            </select>
        </td>
    </tr>
    <tr>
        <th class="th_label">URL</th>
        <td class="td_body"><input type="text" name="menuUrl" id="menu-url" class="txt_box form_data" /></td>
        <th class="th_label">사용여부</th>
        <td class="td_body">
            <select name="menuIsUse" id="menu-isuse" class="sel_box form_data">
                <option value="Y" selected>사용</option>
                <option value="N">사용안함</option>
            </select>
        </td>
        <th class="th_label">순서</th>
        <td class="td_body" colspan="3"><input type="text" name="menuOrdering" id="menu-ordering" class="txt_box form_data" /></td>
    </tr>
    <tr>
        <th class="th_label">설명</th>
        <td class="td_body" colspan="7">
            <input type="text" name="menuComment" id="menu-comment" class="txt_box menu_comment form_data" />
        </td>
    </tr>
</table>

<div class="btn_group">
    <input type="button" value="취소" id="btn-cancel" class="btn_set" />
    <input type="button" value="수정" id="btn-update" class="btn_set" />
    <input type="button" value="추가" id="btn-add" class="btn_set" />
</div>